
.charWholeDiv{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  min-width: calc(100% /3);
}
.charTitle{
  font-weight: bold;
}

 .charRowDiv{
 display: flex;
 flex-direction: column;

 }
 .charText{
  margin-bottom: 8px;
 }
 .charLeftText{
  margin-right: 8px;
 }
 
 .charRightText{
   font-weight: bold;
 }
 
.char{
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .charWholeDiv {
    width: 100%;
    flex-direction: column;
  }
}