
.charWholeDiv{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  background-color: rgb(119, 119, 119);
}
.charTitle{
  font-weight: bold;
}
.charDiv{
  display: flex;
  flex-direction: row;
  background-color: rgb(119, 119, 119);
  width: 50%;

 }
 .charRowDiv{
 display: flex;
 flex-direction: column;

 }
 .charLeftText{
  margin-right: 8px;
 }
 
 .charRightText{
   font-weight: bold;
 }
 