.charProfile{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.charImage{

}

.charName{
 font-size: 12px;
}

.charInfoDiv{
  margin-left: auto;
  margin-right: auto;
}

.charInfoDivInner{
  display: flex;
  flex-direction: row;
}

.charOtherText{
  font-size: 8px;
}