.charProfile{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.charImage{
 
}

.charName{
 font-size: 40px;
}

.charInfoDiv{
  margin-top: auto;
  margin-bottom: auto;
}

.charInfoDivInner{
  display: flex;
  flex-direction: row;
}

.charOtherText{
  font-size: 16px;
  margin-right: 4px;
  background-color: grey;
  border-radius: 4px;
}

.charElementFire{
  background-color: red;
 }
 .charElementWater{
  background-color: blue;
 }

 .charElementWind{
  background-color: rgb(64, 155, 113);
 }
 .charElementEarth{
  background-color: rgb(233, 178, 60);
 }

 .charElementElectric{
  background-color: rgb(153, 84, 170);
 }

 .border{
  border-radius: 4px;
 }