
.combatWholeDiv{
  display: flex;
  flex-direction: column;
  margin-right: 30%;
}
.combatTitle{
  font-weight: bold;
}
.combatDiv{
 display: flex;
 flex-direction: row;

 width: 50%;


}
.combatRowDiv{
  display: flex;
  flex-direction: column;

}
.combatText{
  margin-bottom: 8px;
 }
.combatLeftText{
  margin-right: 8px;
}

.combatRightText{
  font-weight: bold;
}
