.combatDiv{
 display: flex;
 flex-direction: row;
 background-color: rgb(119, 119, 119);
 width: 50%;
 margin-left: auto;
 margin-right: auto;
}
.combatRowDiv{
display: flex;
flex-direction: column;
margin-left: 8px;
margin-right: 8px;
}
.combatLeftText{
  
}

.combatRightText{
  font-weight: bold;
}
