.eventMainDiv{
 width: 80%;
 background-color: black;
}
.evenMainImage{

}
.eventCountdownDiv{
  
}
.eventCountdownTitle{
  
}
.eventCountDiv{
  width: 50%;
}
.eventNumBox{
  background-color: rgb(134, 134, 134);
}
.eventNum{
  color: white;
}