.eventMainDiv{
 width: 80%;
 background-color: black;
}

.eventMainImage{
width: 40%;
}
.PickupMainImage{
  width: 40%;
  }
.eventCountdownDiv{
  margin-left: auto;
  margin-right: auto;
}
.eventCountdownTitle{
  font-size: calc(1rem + 2.5vw);
}
.eventCountDiv{
  width: 50%;
}
.eventNumBox{
  background-color: rgb(134, 134, 134);
}
.eventNum{
  color: white;
}