.indivCharDiv{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(59, 59, 59);
}


.indivCharHeader{
  display: flex;
  flex-direction: column;



}

.indivCharHeaderText{
  font-weight: bold;
  font-size: 32px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px) {
  .indivCharHeaderText {
    font-size: 24px;
  }
  .indivCharDiv{
    display: flex;
    flex-direction: column;
    /* justify-content:flex-start; */
  
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(59, 59, 59); */
  }
}

