.updateDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 50px;
  background-color: white;
  border: 3px solid rgb(201, 0, 0);
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-bottom: 2%;

}
.updateSpan{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.updateText{
  text-align: center;
}

.updateTextBold{
  text-align: center;
  font-weight: bold;
}
