.otherWholeDiv{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
    background-color: rgb(119, 119, 119);
}
.otherTitle{
  font-weight: bold;
}
.otherDiv{
  display: flex;
  flex-direction: row;
  background-color: rgb(119, 119, 119);
  width: 50%;

 }
 .otherRowDiv{
 display: flex;
 flex-direction: column;
 /* margin-left: 8px;
margin-right: 8px; */
 }
 .otherLeftText{
   margin-right: 8px;
 }
 
 .otherRoleText{
   font-weight: bold;
   margin-right: 8px;
 }
 
 .otherRoles{
  display: flex;
  flex-direction: row;
 }