.otherWholeDiv{
  display: flex;
  flex-direction: column;
  margin-right: 30%;

}
.otherTitle{
  font-weight: bold;
}
.otherDiv{
  display: flex;
  flex-direction: row;

  width: 50%;

 }
 .otherRowDiv{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 /* margin-left: 8px;
margin-right: 8px; */
 }
 .otherText{
  margin-bottom: 8px;
 }
 .otherLeftText{
   margin-right: 8px;
 }
 
 .otherRoleText{
   font-weight: bold;
   margin-right: 8px;
 }
 
 .otherRoles{
  display: flex;
  flex-direction: row;
 }