/* For code for the pickup.js component */
.pickupDiv{
width: 50%;
margin-left: auto;
margin-right: auto;
}

.pickupInnerDiv{
display: flex;
flex-direction: column;
}
.pickupRowDiv{
  display: flex;
  flex-direction: row;


}
.pickupImageDiv{
  width: 50%;
  height: auto;
}
  

.pickupNameDiv{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.pickupDateDiv{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pickupText{
  margin-left: auto;
  margin-right: auto;
}