.pickupDiv{

}

.pickupInnerDiv{
display: flex;
flex-direction: column;
}
.pickupRowDiv{
  display: flex;
  flex-direction: row;

}
.pickupImageDiv{
  width: 50%;
  height: auto;
}
  

.pickupNameDiv{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickupDateDiv{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pickupText{

}