.pickupDiv{

}

.pickupInnerDiv{
display: flex;
flex-direction: column;
}
.pickupRowDiv{
  display: flex;
  flex-direction: row;
}
.pickupImage{
  width: 10%;
  height: auto;
}
  

.pickupName{
color: white;
}

.pickupDate{
  color: white;
}