.combatWholeDiv{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  min-width: calc(100% /3);

}
.combatTitle{
  font-weight: bold;
  font-size: 20px;
}
.combatDiv{
 display: flex;
 flex-direction: column;



}
.combatRowDiv{
  display: flex;
  flex-direction: row

}
.combatText{
  margin-bottom: 8px;
 }
.combatLeftText{
  margin-right: 8px;
}


.combatRightText{
  font-weight: bold;
}

.combatDivWholeMob{
display: flex;
flex-direction: row;
justify-content: left;
align-items: left;
width: 100%;
}
.combatDivMob{

min-width: 200px
}
@media screen and (max-width: 800px) {
  .combatWholeDiv{
    display: flex;
    flex-direction: column;
    
    min-width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .combatLeftText{
   
  }
  
}

@media screen and (max-width: 500px) {
  .combatDivWholeMob{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width: 100%;
    }
    .combatDivMob{
    
    min-width: 100px
    }
  
}