
.skillImage{
  width: 120px;
  height: 120px;
}
.skillProfile{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.skillName{
 font-size: 40px;
}

.skillInfoDiv{
  margin-top: auto;
  margin-bottom: auto;
}

.skillInfoDivInner{
  display: flex;
  flex-direction: row;

}

.skillOtherText{
  font-size: 16px;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
  
}
.skillText{
  font-size: 16px;
  margin-bottom: 4px;
}
.skillTextEnd{
  font-size: 16px;
  margin-top: 4px;
}
 .skillIconDiv{
  display: flex;
  flex-direction: row;
  background-color: grey;
  border-radius: 4px;
  margin-right: 4px;

 }
 .setIcon{
  height: 32px;
  width: auto;
  margin-right: 4px;
 }

 .skillProfileWhole{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 59, 59);
  margin-bottom: 2%;
}


