.skillDiv{

}

.skillOne{

}

.skillTwo{

}

.skillBurst{

}

.charProfile{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.charImage{
 
}

.charName{
 font-size: 40px;
}

.charInfoDiv{
  margin-top: auto;
  margin-bottom: auto;
}

.charInfoDivInner{
  display: flex;
  flex-direction: row;

}

.charOtherText{
  font-size: 16px;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
  
}

.charElementFire{
  border-bottom: 2px solid red;
 }
 .charElementWater{
  border-bottom: 2px solid blue;

 }

 .charElementWind{
  border-bottom: 2px solid rgb(64, 155, 113);
 }
 .charElementEarth{
  border-bottom: 2px solid rgb(233, 178, 60);
 }

 .charElementElectric{
  border-bottom: 2px solid rgb(153, 84, 170);
 }

 .border{
  border-radius: 4px;
 }

 .charIconDiv{
  display: flex;
  flex-direction: row;
  background-color: grey;
  border-radius: 4px;
  margin-right: 4px;

 }
 .setIcon{
  height: 32px;
  width: auto;
  margin-right: 4px;
 }


