.pastEventsListDivP{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.pastSkinRowDiv{
  display: flex;
  flex-direction: row;
}

.pastSkinsDiv{
  display: flex;
  flex-direction: column;
}
.pastSkins{
  max-height: 290px;
  height: 290px;
  width: auto;
  max-width: 200px;
}

/* Main div */
.skinsDiv{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.skins2Div{
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.leftDiv{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
.leftImage{
  width: auto;
  height: 290px;
}
.leftText{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightDiv{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.textDiv{
  margin-left: auto;
  margin-right: auto;

}
/* main div for whole page */
.minigamesDiv{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* left side of row */
.minigamesInnerRow{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}
/* imaage for div */
.minigamesLogoDiv{
  width: 50%;
  height: auto;
}
/* center name */
.minigamesNameDiv{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
/* right side */
.MiniGameRightSideDiv{
  width: 50%;
  display: flex;
  flex-direction: row;

}
/* text format */
.minigamespDateDiv{
  color: white;
  display: flex;
  align-items: center;
}
/* format for text in div */
.miniTextDiv{
  width: 50%;
  height: auto;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* text format */
.minigamesText{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}